@import '../../../scss/abstracts/variables';

.container {
    display: flex;
    align-items: center;
    height: calc(100% - 7rem);
    padding: 0% 6%;

    & .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        padding-bottom: 7rem;

        &-informations {
            display: flex;
            flex-direction: column;
            width: 90%;
            gap: 2rem;

            & span {
                color: $color-primary;
            }

            & p {
                line-height: 3rem;
                color: #7d7987;
            }
        }

        &-image {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                width: 96%;
            }
        }
    }
}