<div class="container">
    <header class="header">
        <div class="header-informations">
            <h1>Bem-vindo ao <span>ConectaDev</span>, a rede social criada especialmente para você, que <span>vive</span> e <span>respira tecnologia!</span> 🚀</h1>
            <p>
                Aqui, desenvolvedores de todos os níveis e especializações se encontram para compartilhar conhecimentos, trocar experiências e 
                colaborar em projetos inovadores. Se você está em busca de novas conexões, oportunidades de crescimento e um 
                espaço para se inspirar, você está no lugar certo.
            </p>
        </div>
    
        <figure class="header-image">
            <img src="assets/Group-Chat-bro.svg" alt="">
        </figure>
    </header>
   
</div>