@import '../../../scss/abstracts/variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 7rem);


    & .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 7rem);
        padding: 0% 6%;
        padding-bottom: 7rem;

        &-informations {
            display: flex;
            flex-direction: column;
            width: 90%;
            gap: 2rem;

            & span {
                color: $color-primary;
            }

            & p {
                line-height: 3rem;
                color: #7d7987;
            }
        }

        &-image {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & img {
                width: 85%;
            }
        }
    }

    & .section {
        width: 100%;
        padding: 4% 6%;

        &.grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 6rem;
            padding: 6%;
            
            
            background-color: #CEEEF9;
        }

        &.flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }

        & .section-title {
            font-size: 3rem;
        }

        & .section-paragraph-reduced {
            width: 80%;
        }

        & .section-list-benefit {
            display: flex;
            flex-direction: column;
            width: 100%;
            list-style: none;
            padding-top: 1rem;
            gap: 1.5rem;

            & .benefit-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 2rem;
                padding: 6rem;
                height: 13rem;
                transition: 200ms;
                background-color: #5BC7EB;

                & span {
                    font-weight: 600;
                    font-size: 2.3rem;
                }

                & img {
                    width: 6rem;
                }

                &:hover {
                    transform: scale(1.02);
                }

                &:nth-child(1) {
                    background-color: #FDD230;
                }

                &:nth-child(2) {
                    background-color: #F19090;
                }

                &:nth-child(3) {
                    background-color: rgb(148, 255, 109);
                }

                &:nth-child(4) {
                    background-color: #C2FBD8;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .container {
        & .header {
            height: 100vh;
            position: relative;

            &-informations {
                display: flex;
                flex-direction: column;
                width: 90%;
                gap: 2rem;

                h1 {
                    font-size: 5rem;
                }
    
                & span {
                    color: $color-primary;
                }
    
                & p {
                    font-size: 2rem;
                    line-height: 3.5rem;
                    color: #7d7987;
                }
            }

            &-image {
                width: 100%;
                display: flex;
                align-items: center;
                position: absolute;
                bottom: -.5%;
                right: 6%;
                justify-content: flex-end;
    
                & img {
                    width: 40%;
                }
            }
        }

        & .section {
            width: 100%;
            padding: 4% 6%;
            position: relative;

            & .section-title {
                font-size: 3rem;

                &.white {
                    color: white;
                }
            }
    
            &.grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 0rem;  
                position: relative;
                min-height: 95vh;       
                background-color: #5BC7EB;

                & .box-img {
                    align-items: center;
                    position: absolute;
                    bottom: -.5%;
                    left: 6%;
                    justify-content: flex-end;

                    & img {
                        width: 80%;
                    }
                }

                & .box-informations {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2rem;
                    grid-column: 2;

                    & h1 {
                        font-size: 4rem;
                    }
                }

                &.benefits {
                    background-color: transparent;
                    min-height: 80vh;

                    & .box-informations {
                        grid-column: 1;
                    }

                    & .box-img {
                        left: auto;
                        right: 6%;
                        text-align: end;
                    }
                }
            }
        }
    }
}