<div class="container">
    <header class="header">
        <div class="header-informations">
            <h1>Bem-vindo ao <span>ConectaDev</span>, a rede social criada especialmente para você, que <span>vive</span> e <span>respira tecnologia!</span> 🚀</h1>
            <p>
                Aqui, desenvolvedores de todos os níveis e especializações se encontram para compartilhar conhecimentos, trocar experiências e 
                colaborar em projetos inovadores. Se você está em busca de novas conexões, oportunidades de crescimento e um 
                espaço para se inspirar, você está no lugar certo.
            </p>
        </div>
    
        <figure class="header-image">
            <img src="assets/header.svg" alt="">
        </figure>
    </header>

    <section class="section grid">

        <figure class="box-img">
            <img src="assets/who-i-am.svg" alt="">
        </figure>

        <div class="box-informations">
            <h1 class="section-title white">Quem somos?</h1>

            <app-paragraph fontSize="2rem" color="white"
            text="Sou um desenvolvedor apaixonado por tecnologia, e criei esta plataforma para conectar desenvolvedores como você. Aqui, podemos compartilhar ideias, trocar informações e colaborar em projetos inovadores."
            ></app-paragraph>
    
            <app-paragraph  fontSize="2rem" color="white"
            text="Acredito que o compartilhamento de conhecimentos é essencial para o crescimento da comunidade de desenvolvedores. ConectaDev oferece um ambiente acolhedor, cheio de oportunidades para aprender e se conectar com outros profissionais que compartilham nossa paixão pela tecnologia."></app-paragraph>
        </div>      
    </section>

    <section class="section grid benefits">
        <div class="box-informations">
            <h1 class="section-title">Beneficios</h1>

           
            <app-paragraph
            text="A plataforma incentiva o compartilhamento de conhecimentos, permitindo que você troque ideias e experiências com profissionais de diferentes níveis."
            fontSize="2rem">
            </app-paragraph>
           
        
    
            <ul class="section-list-benefit">
                <li class="benefit-item">
                    <span>Networking</span>
                    <img src="assets/networking.png" alt="">
                </li>
                <li class="benefit-item">
                    <span>Compartilhamento de Conhecimento</span>
                    <img src="assets/compartilhamento-de-ideias.png" alt="">
                </li>
                <li class="benefit-item">
                    <span>Projetos Colaborativos</span>
                    <img src="assets/colaboracao.png" alt="">
                </li>
                <li class="benefit-item">
                    <span>Crescimento Profissional</span>
                    <img src="assets/progresso.png" alt="">
                </li>
            </ul>
        </div>

        <figure class="box-img">
            <img src="assets/benefits.svg" alt="">
        </figure>
        
    </section>
   
</div>