<nav class="container">

    <a class="logo" [routerLink]="['/']">
        ConectaDev
    </a>

    <ul class="navegation-list">
        <li class="navegate-item">Quem somos</li>
        <li class="navegate-item">Beneficios</li>
        <li class="navegate-button">
            <button class="nav-button nav-button--transparent">
                Registrar
            </button>
        </li>

        <li class="navegate-button">
            <button class="nav-button">
                Entrar
            </button>
        </li>
    </ul>

</nav>